extends navbar-connected

block content
    div.row.clear-20
        div.large-12.columns
            div.panel
                h1 Timeline
    div.row
        div.large-12.columns
            div.row
                div.small-3.large-2.columns
                    img(src='http://placehold.it/200x200&text=[asso]')
                div.small-9.large-10.columns
                    p
                    strong Some Person said:
                    | Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                    ul.inline-list
                        li
                            a(href='') Reply
                        li
                            a(href='') Share
                    h6 2 Comments
                    div.row
                        div.small-3.large-1.columns
                            img(src='http://placehold.it/50x50&text=[img]')
                        div.small-9.large-11.columns
                            p
                                | Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
                    div.row
                        div.small-3.large-1.columns
                            img(src='http://placehold.it/50x50&text=[img]')
                        div.small-9.large-11.columns
                            p
                                | Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
            hr
            div.row
                div.small-3.large-2.columns
                    img(src='http://placehold.it/80x80&text=[img]')
                div.small-9.large-10.columns
                    p
                        strong Some Person said:
                        | Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
                    ul.inline-list
                        li
                            a(href='') Reply
                        li
                            a(href='') Share 
            hr