extends navbar-logout

block content
    div.row
        div.large-6.columns.large-centered
            form.custom(action="#{routes._LOGIN_POST}", method="post")
                fieldset
                    legend Login
                    br
                    div.row.collapse(id="loginContainer")
                        div.small-3.large-3.columns
                            span.prefix.radius
                                label(for="login") Email :
                        div.small-9.large-9.columns
                            input(type="text", name="login", id="login")
                    div.row.collapse(id="passwordContainer")
                        div.small-3.large-3.columns
                            span.prefix.radius
                                label(for="password") Password :
                        div.small-9.large-9.columns
                            input(type="password", name="password", id="password")
                    div.row
                        div.small-6.large-6.columns.large-centered
                            input.button.secondary.round.expand(type="submit", value="Log in :)")
    - if (message.errors) {
    script(type='text/javascript', src="/javascripts/form-errors.js")
    script(type='text/javascript') showErrors(!{JSON.stringify(message.errors[0])});
    - }