extends layout

block navbar
    nav.top-bar
        ul.title-area
            li.name
                h1
                    a(href="/") #{title}
            li.toggle-topbar.menu-icon
                a(href="#")
                    span Menu
        section.top-bar-section
            ul.left
                input(type="text")

            ul.right
                li.divider
                li.has-dropdown
                    a(href='#') Main Item 4
                    ul.dropdown
                        li
                            label Section Name
                        li.has-dropdown
                            a.(href='#') Has Dropdown, Level 1
                            ul.dropdown
                                li
                                    a(href='#') Dropdown Options
                                li
                                    a(href='#') Dropdown Options
                                li.has-dropdown
                                    a(href='#') Has Dropdown, Level 2
                                    ul.dropdown.test
                                        li
                                            a(href='#') Subdropdown Option
                                        li
                                            a(href='#') Subdropdown Option
                                        li
                                            a(href='#') Subdropdown Option
                                li
                                    a(href='#') Subdropdown Option
                                li
                                    a(href='#') Subdropdown Option
                                li
                                    a(href='#') Subdropdown Option
                        li
                            a(href='#') Dropdown Option
                        li
                            a(href='#') Dropdown Option
                        li.divider
                        li
                            label Section Name
                        li
                            a(href='#') Dropdown Option
                        li
                            a(href='#') Dropdown Option
                        li
                            a(href='#') Dropdown Option
                        li.divider
                        li
                            a(href='#') See all →
                li.divider
                li
                    a(href='#') Main Item 5
                li.divider
                li.has-dropdown
                    a(href='#') #{user.username}
                    ul.dropdown
                        li
                            a(href='/logout') Logout