extends navbar-connected

block content
    div.row.clear-20
        div.large-3.columns
            div.panel
                h5 Panel Title
                p This is a three columns grid panel with an arbitrary height.
        div.large-6.columns
            div.panel
                h5 Panel Title
                p
                    | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
        div.large-3.columns
            div.panel
                h5 Panel Title
                p This is a three columns grid panel with an arbitrary height.
    div.row
        div.large-6.columns
            div.panel
                h5 Panel Title
                p
                    | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
        div.large-2.columns
            div.panel
                p
                    img(src='http://placehold.it/200x200')
        div.large-4.columns
            div.panel
                h5 Panel Title
                p
                    | This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.
    div.row
        div.large-4.columns
            div.panel
                p
                    img(src='http://placehold.it/400x300')
        div.large-4.columns
            div.panel
                p
                    img(src='http://placehold.it/400x300')
        div.large-4.columns
            div.panel
                p
                    img(src='http://placehold.it/400x300')
    div.row
        div.large-6.columns
            div.panel
                h5 Panel Title
                p
                    | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
        div.large-3.columns
            div.panel
                h5 Panel Title
                p This is a three columns grid panel with an arbitrary height.
        div.large-3.columns
            div.panel
                h5 Panel Title
                p This is a three columns grid panel with an arbitrary height.
    div.row.clear-20
        div.large-3.columns
            div.panel
                h5 Panel Title
                p This is a three columns grid panel with an arbitrary height.
        div.large-6.columns
            div.panel
                h5 Panel Title
                p
                    | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
        div.large-3.columns
            div.panel
                h5 Panel Title
                p This is a three columns grid panel with an arbitrary height.
    div.row
        div.large-6.columns
            div.panel
                h5 Panel Title
                p
                    | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
        div.large-2.columns
            div.panel
                p
                    img(src='http://placehold.it/200x200')
        div.large-4.columns
            div.panel
                h5 Panel Title
                p
                    | This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.
    div.row
        div.large-4.columns
            div.panel
                p
                    img(src='http://placehold.it/400x300')
        div.large-4.columns
            div.panel
                p
                    img(src='http://placehold.it/400x300')
        div.large-4.columns
            div.panel
                p
                    img(src='http://placehold.it/400x300')
    div.row
        div.large-6.columns
            div.panel
                h5 Panel Title
                p
                    | This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
        div.large-3.columns
            div.panel
                h5 Panel Title
                p This is a three columns grid panel with an arbitrary height.
        div.large-3.columns
            div.panel
                h5 Panel Title
                p This is a three columns grid panel with an arbitrary height.