.clear-10 {
    clear: both;
    margin-top: 10px;
}
.clear-20 {
    clear: both;
    margin-top: 20px;
}

.clear-30 {
    clear: both;
    margin-top: 30px;
}

.clear-40 {
    clear: both;
    margin-top: 40px;
}